.container{
    width: 201.5%;
    height: 100%;
    background-color: #ebebeb;
}

.dog_container{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 700px auto;
    grid-template-rows: 30px auto 10px ;
}

.img_container{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 500px;
    height: 450px;
    display: flex;
    justify-content:center;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 13rem;
    margin-top: 3.5rem;
    padding-left: 20px;
    border-radius: 16px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    
}

.details_container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: white;
    width: 450px;
    height: 540px;
    display: grid;
    grid-template-rows: 50px 240px 250px;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 16px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    
}

img{
    height: 450px;
    width: 500px;
    object-fit: cover;
    border-radius: 16px;
}

.h1_container {
    width: 450px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #c8fe409a;
}

.dog_info {
    display: grid;
    grid-template-rows: 40px auto 40px auto 40px auto;  
    align-items:center;  
    width: 450px;
    height: 250px;
    margin-top: 5rem;
    
}

.dog_info div {
    width: 150px;
    height: 50px;

    border-top: 1px solid #9D4EDD;
}
.dog_info h4{
    font-size: 15px;
}

.dog_info h2 {
    padding-top: 5px;
    font-size: 15px;
    color: #9D4EDD;   
    
}

.temperaments_container {
    height: 100px;
    width: 400px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 15px;

    padding: 20px;

    justify-content: space-evenly;

    
}

.temperaments_container h2 {
    color: #9D4EDD;
    font-size: 15px;;
}
.temp {
    height: 30px;
    width: 100px;

    background-color: #408ac2;

    border-radius: 16px;
    color: white;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);

}

.button {
    width: 6em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-top: 3rem;
    font-weight: 700;
   }
   
   .button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .button:hover::before {
    width: 9em;
   }

/* 

.h1_container {
    width: 600px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #9D4EDD;
}

.dog_info {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    width: 600px;

    align-items: flex-start;
}

.dog_info div {
    width: 150px;
    height: 50px;

    padding: 10px;

    border-top: 1px solid #9D4EDD;
}

.dog_info h2 {
    padding-bottom: 10px;
}

.temperaments_container {
    height: 200px;
    width: 600px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 15px;

    padding: 20px;

    justify-content: space-evenly;

    
}

.temp {
    height: 40px;
    width: 110px;

    background-color: #7B2CBF;

    border-radius: 16px;
    color: white;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);

} */

