.container {
    width: 100%;
    height: 100%;

    padding: 20px;

    background-color: #ebebeb;

    display: grid;
    grid-template-rows: 50px auto 50px;
    justify-content: center;

    justify-items: center;

}