.home {
    width: 100%;
    height: 100%;
    background-image: url('../assets/foto3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    
    display: grid;
    grid-template-rows: 100px 466px 90px;

    justify-items: center;

    background-color: #ffffff;
}

.cards_container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    grid-row: 2 /3;

    gap: 10px;
    width: 80%;
}

.top_bar {
    display: flex;
    
    align-items: center;

    gap: 20px;

    width: 80%;

    justify-content: space-evenly;
} 

.creatingDog a {
    text-decoration: none;
    height: 40px;
    width: 50px;
    padding: 10px;

    font-weight: 700;
    background-color: #daf93eb7;
    color: rgb(5, 5, 5);
    border-radius: 16px;

    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
}

.home_btn {
    width: 6em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 3rem;
    top: 3rem;
    font-weight: 700;
    text-decoration: none;
  
   }
   
   .home_btn {
    width: 6em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 3rem;
    top: 3rem;
    font-weight: 700;
    text-decoration: none;
  
   }
   
   .creatingDog a::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .creatingDog a:hover::before {
    width: 9em;
   }
   .home_btn:hover::before {
    width: 9em;
   }
.filters_container {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px;

    width: 650px;
    height: 60px;
    background-color: white;

    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);

    gap: 20px;
}

.filters_container select {
    height: 40px;
    width: 140px;

    font-size: 12px;

    border-color: rgb(255, 255, 255);
    border-radius: 16px;
    outline: none;
    
    padding: 10px;

    transition: 0.5s;
}



.filters_container option {
    outline: none;
    border-color: #030303;
    appearance: none;
}